<div class="row">

</div>

<div class="row">

  <div class="col-sm-3">
    <div id="userProfile">
      <span><a href="#">User Profile Area</a></span>
      <p>To Do:</p>
      <ul>
        <li>populate with fake data</li>
        <li>link to all user posts</li>
      </ul>
    </div>
    <div id="whoToFollow">
      <span><a href="#">Who to Follow</a></span>
      <p>To Do:</p>
      <ul>
        <li>populate with fake data</li>
      </ul>
    </div>
    <div id="trending">
      <span><a href="#">Trending</a></span>
      <p>To Do:</p>
      <ul>
        <li>populate with fake data</li>
        <li>refactor to pull hashtag info once implemented</li>
      </ul>
    </div>
  </div>

  <div class="col-sm-9">

    <div>
      <div id="userTweet">
        <form id="userTweetForm" {{action 'showFullForm' on="mouseEnter"}} >
         {{#if isTweeting }}
           <div class='form-group' {{action 'hideFullForm' on='mouseLeave'}}>
             <label for="tweet">Enter your Tweet</label>
             <br>
             {{input id="tweet" class="form-control" maxlength="141" value=tweet required="true"}}
           </div>
           <button class="btn btn-primary">Tweet!</button>
         {{else}}
           <div class='form-group'>
             <br>
            {{input id="tweet" class="form-control" maxlength="141" value=tweet required="true" placeholder="What is happening?"}}
          </div>
          <br>
          <br>
         {{/if}}
       </form>
      </div>
    </div>

    <div id="twitterFeed">
      <h3>Twitter Feed</h3>
      <ul>
        {{#each}}
        <li>{{userName}} | {{twitterName}} | {{timeStamp}} <br> {{tweet}} </li>
        <br>
        {{/each}}
      </ul>
    </div>
  </div>

</div>
